body {
    background: linear-gradient(to bottom, #B5B295, #B5B295);
    color: #2C2C2C;
    font-family: Arial, sans-serif;
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

.form-label, .card-title, .card-text {
    color: #1A1A1A;
}

.btn-primary {
    background-color: #C26A29;
    border: none;
}

.btn-primary:hover {
    background-color: #A8521F;
}

.card {
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}