{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>📚 History of recommendations</h2>

  {% if recommendations %}
    <ul>
      {% for recommendation in recommendations %}
        <li>
          <strong>{{ recommendation.book.title }}</strong>
          {% if recommendation.rating %}
            – Rating: {{ recommendation.rating }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No has hecho recomendaciones aún.</p>
  {% endif %}
<link rel="stylesheet" href="{% static 'css/rating.css' %}">
<script src="{% static 'js/rating.js' %}"></script>
{% endblock content %}