{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<h2>{% trans "📚 History of recommendations" %  }</h2>

  {% if recommendations %}
    <ul>
      {% for recommendation in recommendations %}
        <li>
          <strong>{{ recommendation.book.title }}</strong>
          {% if recommendation.rating %}
            {%trans Rating: %}{{ recommendation.rating }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{%trans "You don't have recommendations now" %}</p>
  {% endif %}
<link rel="stylesheet" href="{% static 'css/rating.css' %}">
<script src="{% static 'js/rating.js' %}"></script>
{% endblock content %}